@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a, a:hover{
  text-decoration: none;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: brown;
}
.top-bar a{
  color: #fff;
}
.top-bar ul{
  list-style: none;
  display: flex;
}
.top-bar li{
  margin: 0px 5px;
}
